body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  html {
    height: 100%;
    box-sizing: border-box;
    overflow: auto !important;
  }
:root {
  --b1: 0deg;
  --b2: -30deg;
  --b3: 195deg;
  --b4: 165deg;
  --b5: 180deg;
}